<div class="container">
  <div class="register col-md-5 col-sm-6">
    <h1 class="title"><strong>Bio Data</strong></h1>
    <form #registrationForm="ngForm" (ngSubmit)="submitForm(registrationForm)">
      <!-- Name -->
      <div class="form-group">
        <label class="reg_txt">Name <span>*</span></label>
        <div class="controls form-inline">
          <input type="text" class="input-name" placeholder="First" name="firstName"  [(ngModel)]="newUser.firstName" required>
          <input type="text" class="input-name" placeholder="Last" name="lastName"  [(ngModel)]="newUser.lastName" required>
          <div *ngIf="registrationForm.controls['firstName']?.invalid && (registrationForm.controls['firstName']?.dirty || registrationForm.controls['firstName']?.touched)"
          class="text-danger">First name is required</div>
          <div *ngIf="registrationForm.controls['lastName']?.invalid && (registrationForm.controls['lastName']?.dirty || registrationForm.controls['lastName']?.touched)"
          class="text-danger">Last name is required</div>
      </div>
        </div>
       
       

      <!-- Email -->
      <div class="form-group">
        <label class="reg_txt">Email <span>*</span></label>
        <input type="email" class="form-register text" placeholder="E-mail" name="email"  [(ngModel)]="newUser.email" required>
        <div *ngIf="registrationForm.controls['email']?.invalid && (registrationForm.controls['email']?.dirty || registrationForm.controls['email']?.touched)"
          class="text-danger">Please enter a valid email address</div>
      </div>

      <!-- Phone Number -->
      <div class="form-group" style="height: 70px;">
        <label class="reg_txt">Phone Number <span>*</span></label>
        <div class="clearfix"></div>
        <div class="wsite-form">
          <input type="text" class="text input-name1" name="phoneNumber"  [(ngModel)]="newUser.phoneNumber" required>
        </div>
        <div class="line">-</div>
        <div class="wsite-form">
          <input type="text" class="text input-name1" name="phone2"  [(ngModel)]="phoneData.phone2"  >
        </div>
        <div class="line">-</div>
        <div class="wsite-form">
          <input type="text" class="text input-name1" name="phone3"  [(ngModel)]="phoneData.phone3" >
        </div>
        <div *ngIf="registrationForm.controls['phoneNumber']?.invalid && (registrationForm.controls['phoneNumber']?.dirty || registrationForm.controls['phoneNumber']?.touched)"
          class="text-danger">Phone number is required</div>
      </div>

      <!-- Address -->
      <div class="clearfix"></div>
      <div class="form-group">
        <label class="reg_txt">Address <span>*</span></label>
        <input type="text" class="form-register text" placeholder="Line 1" name="address1"  [(ngModel)]="newUser.address1" required>
        <input type="text" class="form-register text" placeholder="Line 2" name="address2" [(ngModel)]="newUser.address2" >
        <div *ngIf="registrationForm.controls['address1']?.invalid && (registrationForm.controls['address1']?.dirty || registrationForm.controls['address1']?.touched)"
          class="text-danger">Address line 1 is required</div>
      </div>

      <!-- City and State -->
      <div class="form-group">
        <div class="controls form-inline">
          <input type="text" class="input-name" placeholder="City" name="city"  [(ngModel)]="newUser.city" required>
          <input type="text" class="input-name" placeholder="State" name="state"  [(ngModel)]="newUser.state" required>
        </div>
        <div *ngIf="registrationForm.controls['city']?.invalid && (registrationForm.controls['city']?.dirty || registrationForm.controls['city']?.touched)"
          class="text-danger">City is required</div>
      </div>

      <!-- Zip Code and Country -->
      <div class="form-group">
        <div class="controls form-inline">
          <input type="text" class="input-name" placeholder="Zip Code" name="zipCode"  [(ngModel)]="newUser.zipCode" required>
          <input type="text" class="input-name" placeholder="Country" name="country"  [(ngModel)]="newUser.country" required>
        </div>
        <div *ngIf="registrationForm.controls['zipCode']?.invalid && (registrationForm.controls['zipCode']?.dirty || registrationForm.controls['zipCode']?.touched)"
          class="text-danger">Zip code is required</div>
      </div>

      <!-- Qualification -->
      <div class="form-group">
        <label class="reg_txt">Write Your qualification <span>*</span></label>
        <input type="text" class="form-register text" placeholder="" name="qualification"  [(ngModel)]="newUser.qualification" required>
        <div *ngIf="registrationForm.controls['qualification']?.invalid && (registrationForm.controls['qualification']?.dirty || registrationForm.controls['qualification']?.touched)"
          class="text-danger">Qualification is required</div>
      </div>

      <!-- Comment -->
      <div class="form-group">
        <label class="reg_txt">Comment <span>*</span></label>
        <textarea class="form-register text" name="comments" required [(ngModel)]="newUser.comments"></textarea>
        <div *ngIf="registrationForm.controls['comments']?.invalid && (registrationForm.controls['comments']?.dirty || registrationForm.controls['comments']?.touched)"
          class="text-danger">Comment is required</div>
      </div>

      <!-- Submit Button -->
      <div class="form-group">
        <button type="submit" class="btn btn-default submit" style="width: 97%;">Submit</button>
      </div>
    </form>
  </div>
   <!-- User List -->
   <div class="col-md-6 tabt"  *ngIf="!showUserDetails">
    <table class="table">
      <tbody>
        <tr class="ztxt">
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Edit</th>
          <th>Delete</th>
          <th>View</th>
        </tr>
        <tr *ngFor="let user of users">
          <td *ngIf="!(user.id === editedUserId)">{{ user.firstName }}</td>
          <td *ngIf="user.id === editedUserId"><input  type="text" [(ngModel)]="user.firstName"></td>

          <td *ngIf="!(user.id === editedUserId)">{{ user.email }}</td>
          <td *ngIf="user.id === editedUserId"><input  type="text" [(ngModel)]="user.email"></td>

          <td *ngIf="!(user.id === editedUserId)">{{ user.phoneNumber }}</td>
          <td *ngIf="user.id === editedUserId"><input  type="text" [(ngModel)]="user.phoneNumber"></td>

          <td *ngIf="!(user.id === editedUserId)">
            <button class="ed" (click)="enterEditMode(user.id)">Edit</button>
          </td>
          <td *ngIf="(user.id === editedUserId)">
            <button class="ed" style="background: green;" (click)="updateUser(user)">Save</button>
          </td>
          <td>
            <button class="ed" style="background: #f00;" (click)="deleteUser(user.id)">Delete</button>
          </td>
          <td>
            <button class="ed" style="background: #000;" (click)="viewUser(user)">View</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
   <!-- View user Data List -->
   <div class="user-details" *ngIf="showUserDetails"> 
    <h2 class="title" style="position: relative;left: 25%;"><strong>User Details</strong> </h2>
    <div class="containerDetails">
    <p><strong>Name:</strong> {{ selectedUser.firstName }}</p>
    <p><strong>Email:</strong> {{ selectedUser.email }}</p>
    <p><strong>Phone:</strong> {{ selectedUser.phoneNumber }}</p>
    <p><strong>Address:</strong> {{ selectedUser.address1 }}<br>{{ selectedUser.address2 }}</p>
    <p><strong>Qualification:</strong> {{ selectedUser.qualification }}</p>
    <p><strong>Comments:</strong> {{ selectedUser.comments }}</p>
    <button class="ed" style="background: gray;"  (click)="onCancel()">Cancel</button>
  </div>
</div>
</div>
